node_modules
npm-debug.log
 
# IntelliJ
.idea/
android/.idea
*.iml
*.iws
*.ipr
 
# Eclipse
.classpath
.project
.settings/
 
# Sublime
*.sublime-project
*.sublime-workspace
 
# OSX
.DS_Store
 
# Windows
Thumbs.db
